{% extends 'base/base.html' %}

{% block tittle %}
    Registro
{% endblock %}

{% block content %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <legend>Registro de pregunta</legend>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.genero.errors }} </label>
            <label for="{{ form.genero.id_for_label }}" class="col-lg-2 control-label">Genero:</label>
            <div class="col-lg-3">
                <div class="radio col-lg-0">
                    <label><input type="radio" name="genero" value="0">Hombre</label>
                </div>
                <div class="radio col-lg-0">
                    <label><input type="radio" name="genero" value="1">Mujer</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.edad.errors }} </label>
            <label for="{{ form.edad.id_for_label }}" class="col-lg-2 control-label">Edad:</label>
            <div class="col-lg-3">
                <div class="radio col-lg-0">
                    <label><input type="radio" name="edad" value="1">5 a 10 años</label>
                </div>
                <div class="radio col-lg-0">
                    <label><input type="radio" name="edad" value="2">10 a 15 años</label>
                </div>
                <div class="radio col-lg-0">
                    <label><input type="radio" name="edad" value="3">15 a 20 años</label>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.grado.errors }} </label>
            <label for="{{ form.grado.id_for_label }}" class="col-lg-2 control-label">Grado:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="grado" value="6">Sexto (6º)</label>
                <label><input type="radio" name="grado" value="7">Séptimo (7º)</label>
                <label><input type="radio" name="grado" value="8">Octavo (8º)</label>
                <label><input type="radio" name="grado" value="9">Noveno (9º)</label>
                <label><input type="radio" name="grado" value="10">Décimo (10º)</label>
                <label><input type="radio" name="grado" value="11">Undécimo (11º)</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.gpCiencia.errors }} </label>
            <label for="{{ form.gpCiencia.id_for_label }}" class="col-lg-2 control-label">Gusto por la ciencia:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="gpCiencia" value="1">Poco</label>
                <label><input type="radio" name="gpCiencia" value="2">Medio</label>
                <label><input type="radio" name="gpCiencia" value="3">Alto</label>
                <label><input type="radio" name="gpCiencia" value="4">Muy alto</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.gpTecnologia.errors }} </label>
            <label for="{{ form.gpTecnologia.id_for_label }}" class="col-lg-2 control-label">Gusto por la tecnología:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="gpTecnologia" value="1">Poco</label>
                <label><input type="radio" name="gpTecnologia" value="2">Medio</label>
                <label><input type="radio" name="gpTecnologia" value="3">Alto</label>
                <label><input type="radio" name="gpTecnologia" value="4">Muy alto</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.gpIngenieria.errors }} </label>
            <label for="{{ form.gpIngenieria.id_for_label }}" class="col-lg-2 control-label">Gusto por la ingeniería:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="gpIngenieria" value="1">Poco</label>
                <label><input type="radio" name="gpIngenieria" value="2">Medio</label>
                <label><input type="radio" name="gpIngenieria" value="3">Alto</label>
                <label><input type="radio" name="gpIngenieria" value="4">Muy alto</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.gpMatematica.errors }} </label>
            <label for="{{ form.gpMatematica.id_for_label }}" class="col-lg-2 control-label">Gusto por la matematica:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="gpMatematica" value="1">Poco</label>
                <label><input type="radio" name="gpMatematica" value="2">Medio</label>
                <label><input type="radio" name="gpMatematica" value="3">Alto</label>
                <label><input type="radio" name="gpMatematica" value="4">Muy alto</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.estrato.errors }} </label>
            <label for="{{ form.estrato.id_for_label }}" class="col-lg-2 control-label">Estrato:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="estrato" value="0">0</label>
                <label><input type="radio" name="estrato" value="1">1</label>
                <label><input type="radio" name="estrato" value="2">2</label>
                <label><input type="radio" name="estrato" value="3">3</label>
                <label><input type="radio" name="estrato" value="4">4</label>
                <label><input type="radio" name="estrato" value="5">5</label>
                <label><input type="radio" name="estrato" value="6">6</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.vcMadre.errors }} </label>
            <label for="{{ form.vcMadre.id_for_label }}" class="col-lg-2 control-label">Vive con la madre:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="vcMadre" value="1">Si</label>
                <label><input type="radio" name="vcMadre" value="0">No</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.vcPadre.errors }} </label>
            <label for="{{ form.vcPadre.id_for_label }}" class="col-lg-2 control-label">Vive con la madre:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="vcPadre" value="1">Si</label>
                <label><input type="radio" name="vcPadre" value="0">No</label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.numHermanos.errors }} </label>
            <label for="{{ form.numHermanos.id_for_label }}" class="col-lg-2 control-label">Número de herman@s:</label>
            <div class="radio col-lg-3">
                <label><input type="radio" name="numHermanos" value="0">Ninguno (0)</label>
                <label><input type="radio" name="numHermanos" value="1">Uno (1)</label>
                <label><input type="radio" name="numHermanos" value="2">Dos (2)</label>
                <label><input type="radio" name="numHermanos" value="3">Tres (3)</label>
                <label><input type="radio" name="numHermanos" value="4">Cuatro (4)</label>
                <label><input type="radio" name="numHermanos" value="5">Cinco o más (5+)</label>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </form>
{% endblock %}
