{% extends 'base/base.html' %}

{% block tittle %}
    Registro pregunta
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post">
    {% csrf_token %}
        <fieldset>
            <legend>Registro de pregunta</legend>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.pregunta.errors }} </label>
                <label for="{{ form.pregunta.id_for_label }}" class="col-lg-2 control-label">Ingrese su pregunta:</label>
                <div class="form-group col-lg-3">
                    <p>{{ form.pregunta }}</p>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.respuestac.errors }} </label>
                <label for="{{ form.respuestac.id_for_label }}" class="col-lg-2 control-label">Ingrese la respuesta correcta:</label>
                <div class="form-group col-lg-3">
                    <p>{{ form.respuestac }}</p>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.respuestaf1.errors }} </label>
                <label for="{{ form.respuestaf1.id_for_label }}" class="col-lg-2 control-label">Ingrese la respuesta incorrecta número 1:</label>
                <div class="form-group col-lg-3">
                    <p>{{ form.respuestaf1 }}</p>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.respuestaf2.errors }} </label>
                <label for="{{ form.respuestaf2.id_for_label }}" class="col-lg-2 control-label">Ingrese la respuesta incorrecta número 2:</label>
                <div class="form-group col-lg-3">
                    <p>{{ form.respuestaf2 }}</p>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.respuestaf3.errors }} </label>
                <label for="{{ form.respuestaf3.id_for_label }}" class="col-lg-2 control-label">Ingrese la respuesta incorrecta número 3:</label>
                <div class="form-group col-lg-3">
                    <p>{{ form.respuestaf3 }}</p>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.nivel.errors }} </label>
                <label for="{{ form.nivel.id_for_label }}" class="col-lg-2 control-label">Seleccione dificultad de pregunta:</label>
                <div class="col-lg-3">
                    <div class="radio col-lg-0">
                        <label><input type="radio" name="nivel" value="1">Muy fácil</label>
                    </div>
                    <div class="radio col-lg-0">
                        <label><input type="radio" name="nivel" value="2">Fácil</label>
                    </div>
                    <div class="radio col-lg-0">
                        <label><input type="radio" name="nivel" value="3">Media</label>
                    </div>
                    <div class="radio col-lg-0">
                        <label><input type="radio" name="nivel" value="4">Difícil</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.area.errors }} </label>
                <label for="{{ form.area.id_for_label }}" class="col-lg-2 control-label">Seleccione area:</label>
                <div class="radio col-lg-3">
                    <label><input type="radio" name="area" value="1">Ciencia</label>
                    <label><input type="radio" name="area" value="2">Tecnología</label>
                    <label><input type="radio" name="area" value="3">Ingeniería</label>
                    <label><input type="radio" name="area" value="4">Matemática</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-lg-0"> {{ form.unidad.errors }} </label>
                <label for="{{ form.unidad.id_for_label }}" class="col-lg-2 control-label">Seleccione unidad:</label>
                <div class="radio col-lg-3">
                    <label><input type="radio" name="unidad" value="1">Ciencia</label>
                    <label><input type="radio" name="unidad" value="2">Tecnología</label>
                    <label><input type="radio" name="unidad" value="3">Ingeniería</label>
                    <label><input type="radio" name="unidad" value="4">Matemática</label>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <button type="reset" class="btn btn-default">Cancelar</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}